---
layout: archive
title: "Coursework"
permalink: /coursework/
author_profile: true
---

{% include base_path %}

<p>Welcome to my Coursework section. Here you'll find various courses, books and articles related to image processing, machine learning, artificial intelligence in computer vision etc.</p>

## Computer Vision
1. [Projection Models](https://afloresep.github.io/computer-vision/Projection-Models/): This post provides a detailed breakdown of camera and projection concepts, focusing on how 3D objects are projected into 2D images.

<div class="grid__wrapper">
  {% for post in site.computer_vision %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>